* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

.page {
  position: relative;
  padding: 40px;
}

.img-place {
  display: block;
  img {
    border-radius: 100%;
    width: 100%;
    display: block;
  }
}

.flex-container {
  display: flex;
  width: 100%;
}

.channel-page-content {
  width: 65%;
}

.channel-page {
  .channels-list {
    margin-right: 40px;
  }
  .channel-sidebar {
    width: 35%;
    transition: .2s;
    &.min {
      width: 35%;
    }
  }
}
.lazy-load-container {
  height: 100%;
}