* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
}

#root {
  height: 100vh;
  width: 100%;
}

.page {
  position: relative;
  padding: 40px;
}

.img-place {
  display: block;
  img {
    border-radius: 100%;
    width: 100%;
    display: block;
  }
}

.flex-container {
  display: flex;
  width: 100%;
}

.channel-page {
  .channel-sidebar {
    width: 30%;
    transition: .2s;
    height: calc(100vh - 172px);
    overflow-y: scroll;
    margin-right: 20px;
    padding-right: 10px;
    &.min {
      width: 35%;
    }
  }
  .channel-page-content {
    width: 70%;
  }
}
.lazy-load-container {
  height: 100%;
}