@import '../../assets/scss/variables';

.edit-message-form {
  display: flex;
  input {
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid $brand-color;
  }
  button {
    font-size: 12px;
  }
}

.message-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 15px;
  border-bottom: 1px solid #cacaca;
  position: relative;
  p {
    margin: 0;
  }
  .sender-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .sender-nick {
      color: $brand-color;
      margin-right: 10px;
    }
    .sending-date {
      font-size: 10px;
    }
  }
  .x-btn, .edit-btn {
    padding: 0 5px;
    color: #cacaca;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 8px;
    transition: all .2s;
    font-size: 12px;
    &:hover {
      color: $brand-color;
    }
  }
  .edit-btn {
    top: 11px;
    right: 24px;
    font-size: 10px;
  }
  &:last-child {
    border: none
  }
  &.unread {
    background-color: #b4b3b3;
  }
}

.sender-img {
  width: 40px;
  height: 40px;
  img {
    display: block;
    width: 100%;
    border-radius: 100%;
  }
}

.message-body {
  padding: 10px 20px;
}

.file-message-item {
  
}

.file-info {
  display: flex;
  align-items: center;
}

.message-file-preview {
  border-radius: 3px;
  width: 80px;
  min-width: 80px;
  height: 80px;
  padding: 16px;
  background-color: #aaaaaa;
  color: #ffffff;
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 10px 0;
  img {
    width: 100%;
    display: block;
  }
}

.isReadIndicator {
  font-size: 10px;
  color: $brand-color;
  margin-right: 10px;
}