@import '../../assets/scss/variables';

.channel-info {
  display: flex;
  align-items: center;
  .img-place {
    margin-right: 15px;
    position: relative;
    .edit-btn {
      font-size: 10px;
      color: #ffffff;
      opacity: 0;
      border-radius: 3px;
      transition: all .2s;
      display: block;
      padding: 4px 5px; 
      position: absolute;
      background-color: $brand-color;
      top: 0px;
      right: 0px;
    }
    &:hover {
      .edit-btn {
        opacity: 1;
      }
    }
  }
  .channel-name {
    margin-top: 0;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
  }
  button {
    margin-left: 10px;
  }
}

.channel-item {
  width: 75%;
  .img-place {
    width: 100px;
    height: 100px;
  }
}

.users-list {
  list-style-type: none;
  padding-left: 0;
  li {
    display: inline-block;
  }
  .img-place {
    width: 40px;
    height: 40px;
    position: relative;
    .connection-status {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.connection-status {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #cccccc;
  &.online {
    background-color: #1ce01c;
  }
}