@import '../../assets/scss/variables';

.chat-box {
  border-radius: 3px;
  color: #000000;
  background-color: #fbfbfb;
  &__update-btn {
    background-color: $brand-color;
  }
}

.chat-user {
  text-decoration: underline;
  color: $brand-color;
  font-weight: bold;
}

.message-item {
  border-radius: 3px;
  padding: 10px;
  width: 300px;
  display: flex;
  align-items: center;
  p {
    margin: 0;
  }
}
.sender-info {
  display: flex;
  align-items: center;
  span {
    margin-left: 10px;
  }
  .sender-nick {
    color: $brand-color;
  }
  .sending-date {
    font-size: 12px;
    font-style: italic;
  }
}

.sender-img {
  width: 40px;
  height: 40px;
  img {
    display: block;
    width: 100%;
    border-radius: 100%;
  }
}

.message-text {
  padding: 10px;

}

.send-message-btn {
  display: flex;
  span {
    margin-left: 5px;
  }
}