input:focus, button:focus {
  outline: none;
}

button:disabled {
  background-color: #ccc;
}

.form label {
  display: block;
  margin-bottom: 20px;
}

.form label span {
  font-size: 12px;
  display: block;
  margin-bottom: 4px;
  font-family: var(--font);
}