@import '../../assets/scss/variables';

.chat {
  height: 100%;
  position: relative;
  .preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}

.chat-box {
  border-radius: 3px;
  height: calc(100vh - 362px);
  overflow-y: scroll;
  color: #000000;
  background-color: #eeeeee;
  position: relative;
  &__update-btn {
    background-color: $brand-color;
  }
}

.chat-user {
  text-decoration: underline;
  color: $brand-color;
  font-weight: bold;
}

.send-message-btn {
  display: flex;
  span {
    margin-left: 5px;
  }
}

.chat-message-form {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  input {
    width: 100%;
    height: 40px;
    border: 1px solid $brand-color;
    border-radius: 3px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
  }
  button {
    margin-left: 14px;
  }
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin-right: 8px;
  .PreLoading-Text {
    margin-left: 6px;
  }
}