.background {
  width: 400px;
  height: 250px;
  transform: translateZ(0);
  background: url('../../assets/img/background.jpg');
  background-size: cover;
  border-radius: 2px;
}
.background h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: var(--grey);
}